header {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 10;
  .inner {
    display: flex;
    width: 1320px;
    margin: 0 auto;
    padding: 30px 0;
    align-items: center;

    .nav {
      width: 100%;
      display: flex;
      position: relative;
      justify-content: space-between;
      .logo {
        width: 20%;
        font-size: 23px;
        font-weight: 500;
      }
      .search-input {
        padding-top: 5px;
        width: 350px;
        height: 35px;
        position: relative;
        border-radius: 3px;
        input {
          border-radius: 50px;
          border: solid 1px rgba(128, 128, 128, 0.082);
          box-shadow: 0 1px 7px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);

          background: #fff;
          width: 100%;
          height: 100%;
          font-size: 14px;
          padding: 12px 62px 11px 12px;
          box-sizing: border-box;
          &:focus {
            outline: none;
            border: 1px solid #ff5353;
          }
        }
        .search-button {
          position: absolute;
          top: 0;
          right: 0;
          width: 10%;
          height: 71%;
          margin-top: 7px;
          margin-right: 6px;
          border-radius: 5px;
          text-decoration: none;
          color: #ff5d5d;
          border: none;
          cursor: pointer;
        }
      }
      .right-header {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        padding-top: 7px;
        li {
          padding-left: 20px;
        }
      }
    }
  }
}
.header-active {
  background-color: white;
  transition: all 0.7s;
  .inner {
    display: flex;
    width: 1320px;
    margin: 0 auto;
    padding: 30px 0;
    align-items: center;
    .nav {
      .logo {
        margin-top: 5px;
        transition: all 0.5s;
      }
      .search-input {
        width: 400px;
        height: 50px;
        transition: all 0.7s;

        input {
          box-shadow: 0 1px 7px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
        }
      }
      .right-header {
        transition: all 0.7s;
        margin-top: 5px;
      }
    }
  }
}

@media screen and (max-width: $xl) {
  header {
    .inner {
      .nav {
        .logo {
          padding-left: 20px;
          width: 20%;
          font-size: 20px;
          font-weight: 500;
        }
        .search-input {
          input {
            font-size: 13px;
            box-sizing: border-box;
          }
          .search-button {
            margin-top: 7.5px;
            margin-right: 8px;
          }
        }
        .right-header {
          margin-right: 20px;
        }
      }
    }
  }
  .header-active {
    background-color: white;
    transition: all 0.7s;
    height: 80px;
    .inner {
      .nav {
        width: 100%;
        margin: 0 auto;

        .logo {
          margin-top: 10px;
          transition: all 0.5s;
        }

        .right-header {
          transition: all 0.7s;
          margin-top: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: $xs and $sm) {
  header {
    .inner {
      .nav {
        .logo {
          padding-left: 20px;
          width: 20%;
          font-size: 20px;
          font-weight: 500;
        }
        .search-input {
          padding-top: 0px;
          margin-right: 20px;
          width: 52%;
          input {
            font-size: 13px;
            box-sizing: border-box;
          }
          .search-button {
            margin-top: 5px;
            margin-right: 8px;
          }
        }
        .right-header {
          display: none;
        }
      }
    }
  }
  .header-active {
    background-color: white;
    transition: all 0.7s;
    height: 80px;
    .inner {
      .nav {
        width: 100%;
        margin: 0 auto;

        .logo {
          margin-top: 10px;
          transition: all 0.5s;
          display: none;
        }
        .search-input {
          margin: 0 auto;

          width: 80%;
          height: 40px;
          transition: all 0.7s;

          input {
            text-align: center;
            font-size: 14px;
            box-shadow: 0 1px 7px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
          }
        }
        .right-header {
          transition: all 0.7s;
          margin-top: 5px;
        }
      }
    }
  }
}
