header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 65px;
  padding: 0 20px;
  z-index: 10;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 2px;
  background-color: rgba(255, 255, 255, 0.349);

  .inner {
    display: flex;
    width: 1320px;
    margin: 0 auto;
    align-items: center;

    .nav {
      width: 100%;
      display: flex;
      position: relative;
      justify-content: space-between;
      .logo {
        width: 20%;
        font-size: 23px;
        font-weight: 500;
      }
      .search-input {
        width: 300px;
        height: 30px;
        position: relative;
        border-radius: 3px;
        input {
          border-radius: 50px;
          border: solid 1px rgba(128, 128, 128, 0.082);
          box-shadow: 0 1px 7px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
          background: #fff;
          width: 100%;
          height: 100%;
          font-size: 14px;
          padding: 12px 62px 11px 12px;
          box-sizing: border-box;
          &:focus {
            outline: none;
            border: 1px solid #ff5353;
          }
        }
        button {
          border: none;
          .search-button {
            position: absolute;
            top: -3px;
            right: 0;
            width: 10%;
            height: 71%;
            margin-top: 7px;
            margin-right: 6px;
            border-radius: 5px;
            text-decoration: none;
            color: #ff5d5d;
            border: none;
            cursor: pointer;
          }
        }
      }
      .right-header {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        padding-top: 5px;
        position: relative;
        .before {
          margin: 0 10px;
        }

        .left-chat {
          width: 100%;
          margin-left: 70%;
        }
        .drop-menu {
          position: fixed;
          .profile {
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .list {
            display: none;
            position: absolute;
            top: 60px;
            background-color: #fff;
            width: 200px;
            padding: 10px 20px;
            right: -10px;
            box-shadow: 0 1px 7px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
            border-radius: 15px;
            transition: all 2s;

            h3 {
              width: 100%;
              text-align: center;
              font-size: 18px;
              padding: 20px 0;
              font-weight: 500;
              font-size: 18px;
              color: #555;
              line-height: 1.5rem;
              span {
                font-size: 17px;
                color: #ff5d5d;
                font-weight: 400;
              }
            }
            ul {
              li {
                display: flex;
                padding: 10px 10px;
                border-top: 1px solid rgba(0, 0, 0, 0.05);
                align-items: center;
                opacity: 0.5s;

                .icon {
                  margin-right: 5px;
                  &:hover {
                    color: #ff5d5d;
                  }
                }
                a {
                  display: inline-block;
                  color: #555;
                  font-weight: 500;
                  transition: 0.3s;
                  &:hover {
                    color: #ff5d5d;
                  }
                }
              }
            }
            &.active {
              display: block;
              animation: fadeInDown 0.5s;
              @keyframes fadeInDown {
                0% {
                  opacity: 0;
                  top: 30px;
                }
                100% {
                  opacity: 1;
                  top: 60px;
                }
              }
            }
            &:after {
              border-top: 0px solid transparent;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid rgb(255, 255, 255);
              content: '';
              position: absolute;
              top: -10px;
              left: 155px;
            }
          }
        }
      }
    }
  }
}
.header-active {
  height: 100px;
  background-color: white;
  transition: all 0.7s;
  .inner {
    display: flex;
    width: 1320px;
    margin: 0 auto;
    padding: 30px 0;
    align-items: center;
    .nav {
      .logo {
        margin-top: 5px;
        transition: all 0.5s;
      }
      .search-input {
        width: 400px;
        height: 50px;
        transition: all 0.7s;
        .search-button {
          top: 0px;
          right: 10px;
        }

        input {
          box-shadow: 0 1px 7px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
        }
      }
      .right-header {
        transition: all 0.7s;
        margin-top: 5px;
      }
    }
  }
}

@media screen and (max-width: $xl) {
  header {
    .inner {
      .nav {
        .logo {
          padding-left: 20px;
          width: 20%;
          font-size: 20px;
          font-weight: 500;
        }
        .search-input {
          input {
            font-size: 13px;
            box-sizing: border-box;
          }
          .search-button {
            margin-top: 7.5px;
            margin-right: 8px;
          }
        }
        .right-header {
          margin-right: 20px;
        }
      }
    }
  }
  .header-active {
    background-color: white;
    transition: all 0.7s;
    height: 80px;
    .inner {
      .nav {
        width: 100%;
        margin: 0 auto;

        .logo {
          margin-top: 10px;
          transition: all 0.5s;
        }

        .right-header {
          transition: all 0.7s;
          margin-top: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: $xs and $sm) {
  header {
    .inner {
      .nav {
        .logo {
          padding-left: 20px;
          width: 20%;
          font-size: 20px;
          font-weight: 500;
        }
        .search-input {
          padding-top: 0px;
          margin-right: 20px;
          width: 52%;
          input {
            font-size: 13px;
            box-sizing: border-box;
          }
          .search-button {
            margin-top: 5px;
            margin-right: 8px;
          }
        }
        .right-header {
          display: none;
        }
      }
    }
  }
  .header-active {
    background-color: white;
    transition: all 0.7s;
    height: 80px;
    .inner {
      .nav {
        width: 100%;
        margin: 0 auto;

        .logo {
          margin-top: 10px;
          transition: all 0.5s;
          display: none;
        }
        .search-input {
          margin: 0 auto;

          width: 80%;
          height: 40px;
          transition: all 0.7s;

          input {
            text-align: center;
            font-size: 14px;
            box-shadow: 0 1px 7px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
          }
        }
        .right-header {
          transition: all 0.7s;
          margin-top: 5px;
        }
      }
    }
  }
}
