.main-contents {
  position: relative;
  display: flex;
  width: 100%;
  .inner {
    width: 1320px;
    margin: 0 auto;
    padding: 20px 0;
    align-items: center;
    .title {
      font-size: 25px;
      margin-bottom: 30px;
      margin-top: 20px;
    }
    .main-box-wrraper {
      width: 100%;
      display: flex;
      visibility: hidden;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      &.active {
        display: flex;
        visibility: visible;
        animation: fadeInDown 1s ease-in-out;
        @keyframes fadeInDown {
          0% {
            opacity: 0;
            transform: translateY(-70px);
          }
          100% {
            opacity: 1;
            transform: none;
          }
        }
      }

      .box-wrraper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-auto-columns: minmax(316px, 316px);
        gap: 30px 40px;

        .main-box {
          border-radius: 15px;
          background-color: rgba(128, 128, 128, 0.034);
          border: none;
          height: 260px;
          background-color: transparent;
          cursor: pointer;
          img {
            width: 100%;
            height: 86%;
            object-fit: cover;
            border-radius: 15px;
            border: 1px solid rgba(128, 128, 128, 0.233);
          }
          .postTitle {
            font-size: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: rgb(77, 77, 77);
            font-weight: 500;
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $xl) {
  .main-contents {
    position: relative;
    display: flex;
    width: 100%;
    .inner {
      width: 1320px;
      margin: 0 auto;
      padding: 20px 0;
      align-items: center;
      .title {
        font-size: 25px;
        margin-bottom: 30px;
        margin-top: 20px;
      }
      .main-box-wrraper {
        width: 100%;
        display: flex;
        visibility: visible;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        place-items: center;

        &.active {
          display: flex;
          visibility: visible;
          animation: none 1s ease-in-out;
          @keyframes none {
            0% {
              opacity: 0;
              transform: translateY(-70px);
            }
            100% {
              opacity: 1;
              transform: none;
            }
          }
        }

        .box-wrraper {
          width: 90%;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
          .main-box {
            border-radius: 15px;
            background-color: rgba(128, 128, 128, 0.034);
            border: none;
            height: 260px;
            background-color: transparent;
            cursor: pointer;
            img {
              width: 100%;
              height: 86%;
              object-fit: cover;
              border-radius: 15px;
              border: 1px solid rgba(128, 128, 128, 0.233);
            }
            .postTitle {
              font-size: 20px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: rgb(77, 77, 77);
              font-weight: 500;
            }
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
