.media-nav {
  position: fixed;
  display: none;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  border-top: 1px solid rgba(196, 196, 196, 0.452);
  .media-nav-wrap {
    padding: 10px 130px;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    a {
      width: 33%;

      .navIcon {
        color: rgb(156, 156, 156);

        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          font-size: 11px;
          margin-top: 5px;
        }
        &.active {
          color: #ff5d5d;
        }
      }
    }
  }
}
@media screen and (max-width: $sm) {
  .media-nav {
    display: block;
  }
}
@media screen and (max-width: $xs) {
  .media-nav {
    display: block;
    .media-nav-wrap {
      padding: 10px 70px;
      width: 100%;
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      a {
        color: rgb(156, 156, 156);
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          font-size: 11px;
          margin-top: 5px;
        }
        &.active {
          color: #ff5d5d;
        }
      }
    }
  }
}
