.mylist-container {
  height: 100%;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInDown 1s ease-in-out;
  padding-bottom: 500px;
  .mylist-header {
    width: 70%;
  }
  .mylist-body {
    width: 70%;
    display: flex;
    padding: 20px 0px;
    border-bottom: 1px solid #adadad;
    &:hover {
      cursor: pointer;
    }
    .slider-container {
      display: flex;
      flex: 3;
      li {
        height: 250px;
        .slider {
          position: relative;
          display: flex;
          border-radius: 10px;
          width: 90%;
          height: 100%;
          padding: 0px;
          overflow: hidden;
          .sliderContainer {
            position: relative;
            display: flex;
            object-fit: cover;
            img {
              width: 100%;
              aspect-ratio: 2;
            }
          }
          button {
            position: absolute;
            width: 100%;
            border: none;
            top: calc(100% - 58%);
            z-index: 1;
            opacity: 0.4;
            font-size: 30px;
            color: white;
            &:hover {
              opacity: 1;
            }
          }
          .prevBtn {
            position: absolute;
            left: 85%;
            cursor: pointer;
            &:hover {
              transform: scale(1.1);
            }
          }
          .nextBtn {
            position: absolute;
            right: 85%;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
    .empty-line {
      border: 1px solid #e8e4e4;
    }
    .descript-container {
      display: flex;
      flex-direction: column;
      flex: 7;
      ul {
        padding: 35px;
        flex: 8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .description-title {
          font-size: 1.5rem;
        }
        .description-des {
          font-size: 1rem;
        }
        .description-address {
          font-size: 1rem;
          color: #adadad;
        }
      }
      .btn-container {
        padding: 10px;
        flex: 2;
        display: flex;
        justify-content: end;
        align-items: end;
        .modi-btn {
          margin-right: 20px;
          padding: 7px 20px 7px 20px;
          font-size: 12px;
          border-color: #ff2216;
          background: #fff;
          color: #ff2216;
          border: solid 1px;
          border-radius: 5px;
          letter-spacing: 1pt;
          &:hover {
            background-color: #ff2216;
            color: #fff;
            transition: 0.3s;
            cursor: pointer;
          }
        }
        .del-btn {
          padding: 7px 20px 7px 20px;
          font-size: 12px;
          border-color: #adadad;
          background: #fff;
          color: #adadad;
          border: solid 1px;
          border-radius: 5px;
          letter-spacing: 1pt;
          &:hover {
            background-color: #adadad;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
  .line {
    border: 1px solid #adadad;
  }
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-70px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
}
