.mypage-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
  width: 100vw;
  background-color: #f3f5f788;
  align-items: center;
  .inner {
    width: 1320px;
    margin: 0 auto;
    .content-wrap {
      margin: 0 auto;
      width: 80%;
      height: 600px;
      background-color: white;
      box-shadow: rgb(0 0 0 /7%) 2px 7px 20px;
      padding: 40px;
      border-radius: 20px;
      .content-title {
        font-weight: 500;
        font-size: 25px;
        margin-bottom: 20px;
      }
      tbody {
        margin-top: 60px;
        display: table;
        width: 100%;
        border-top: 1px solid #e9edefb6;
        tr {
          th {
            vertical-align: middle;
            font-weight: 400;
            font-size: 16px;
            border-bottom: 1px solid #70707031;
            text-align: center;
            color: rgb(116, 116, 116);
            width: 184px;
            background-color: #ffffffd8;
            border-radius: 5px;
            border-right: 1px solid #ffffff;
            height: 32px;
            padding: 13px;
            vertical-align: top;
          }
          td {
            padding: 15px 110px 20px 0px;
            vertical-align: middle;
            display: table-cell;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            line-height: 1.5;
            border-bottom: 1px solid #70707031;
            text-align: center;
            color: #292929;
            img {
              width: 200px;
              height: 200px;
              border-radius: 70%;
              overflow: hidden;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
