.photoDetail-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInDown 1s ease-in-out;
  .header-container {
    padding-top: 120px;
    display: flex;
    align-items: center;
    width: 70%;
    height: 50px;
    .pg-profile-container {
      display: flex;
      align-items: center;
      flex: 3;
      .pg-nickname {
        font-size: 1.5rem;
      }
      .pg-profile-img-container {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        .pg-profile-img-btn {
          margin-left: 20px;
          width: 100%;
          height: 100%;
          border-radius: 50px;
          border: none;
          &:hover {
            cursor: pointer;
          }
          img {
            width: 100%;
            height: 100%;
            border-radius: 50px;
          }
        }
      }
    }

    .share-container {
      display: flex;
      flex: 7;
      justify-content: end;
      .share-btn {
        width: 90px;
        height: 40px;
        align-items: center;
        border: none;
        border-radius: 10px;
        background-color: white;
        &:hover {
          cursor: pointer;
          background-color: #f7f7f7;
        }
        .share-sub {
          font-size: 14px;
          border-bottom: 1px solid black;
        }
        .share-icon {
          font-size: 17px;
          position: relative;
          top: 5px;
          right: 7px;
        }
      }
    }
  }

  .slider-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    .slider-img-container {
      position: relative;
      display: flex;
      width: 40%;
      height: 350px;
      padding: 0;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      .slider-img {
        width: 600px;
        position: relative;
        display: flex;
        object-fit: cover;
        img {
          aspect-ratio: 600/200;
          width: 100%;
          &:hover {
            cursor: pointer;
            transition: 0.3s;
            filter: brightness(90%);
          }
        }
      }
      .dots-container {
        display: flex;
        position: absolute;
        top: 90%;
        left: 51%;
        transform: translateX(-50%);
      }
      .dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
        margin: 0 5px;
        background: #fff;
        &:hover {
          cursor: pointer;
        }
      }
      .dot.active {
        background: rgb(32, 32, 32);
      }
    }

    .left-slide-btn,
    .right-slide-btn {
      padding: 0 100px;
      border: none;
      background-color: #fff;
      color: #000000;
      .prevBtn,
      .nextBtn {
        font-size: 50px;
        &:hover {
          transition: 0.3s;
          background-color: #f7f7f7;
          cursor: pointer;
        }
      }
    }
  }

  .intro-container {
    display: flex;
    margin-top: 30px;
    width: 70%;
    height: 20%;
    padding: 50px 0 30px;
    border-bottom: 1px solid #dddddd;
    .intro-sub-container {
      flex: 1;
      display: flex;
      .half-container {
        flex: 4;
        .title-container {
          display: flex;
          // border: 1px solid red;
          .title-icon {
            font-size: 25px;
          }
        }
        .desc-container {
          // border: 1px solid blue;
          display: flex;
          .desc-icon {
            font-size: 25px;
            position: relative;
            top: 5px;
          }
        }
      }
      .half-container-two {
        flex: 6;
      }
    }
    .intro-sub-title {
      position: relative;
      left: 20px;
      top: 2px;
      font-size: 20px;
      font-weight: bold;
    }
    .intro-description {
      position: relative;
      line-height: 24px;
      left: 20px;
      bottom: 10px;
      font-size: 15px;
      padding: 20px 0;
      white-space: normal;
    }

    .concept-container {
      display: inline-block;
      margin-right: 10px;
      .intro-concept {
        border: 1px solid gray;
        border-radius: 30px;
        width: 70px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .intro-concept-list {
        font-size: 12px;
      }
    }
  }

  .map-container {
    border-bottom: 1px solid #dddddd;
    width: 70%;
    height: 500px;
    display: flex;
    align-items: center;
    z-index: 0;
    .map-sub-container {
      border: 1px solid black;
      width: 100%;
      height: 90%;
    }
  }

  .review-container {
    width: 70%;
    height: 50%;
    padding: 30px 0;
    .snap-point-icon {
      margin-right: 10px;
      position: relative;
      top: 3px;
      font-size: 20px;
    }
    .snap-point-title {
      font-size: 20px;
      font-weight: bold;
    }
    .snap-point {
      font-size: 15px;
      margin-left: 15px;
    }
    li {
      border-bottom: 1px solid lightgray;
      padding: 15px 0 10px 0;
      .snap-point-sub {
        float: right;
        font-size: 15px;
        font-weight: bold;
      }
    }
  }

  .chat-btn {
    z-index: 10;
    position: fixed;
    right: 50px;
    bottom: 70px;
    padding: 3px 20px;
    line-height: 42px;
    border: none;
    border-radius: 30px;
    color: #fff;
    background: linear-gradient(
      0deg,
      rgba(255, 27, 0, 1) 0%,
      rgba(251, 75, 2, 1) 100%
    );
    &:hover {
      color: #ff5e5e;
      border: 1px solid #ff5e5e;
      background: transparent;
      box-shadow: none;
      cursor: pointer;
      transition: 0.3s;
    }
    .chat-icon {
      font-size: 20px;
      position: relative;
      text-align: center;
      top: 5px;
    }
  }

  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-container {
      animation: fadein 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 20rem;
      height: 10rem;
      border-radius: 20px;
      background-color: #fff;
      @keyframes fadein {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
      .modal-view {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .modal-header {
          width: 100%;
          height: 20%;
          .close-btn {
            position: relative;
            width: 30px;
            font-size: 15px;
            left: 10px;
            top: 5px;
            padding: 5px;
            border: none;
            border-radius: 50px;
            background-color: #fff;
            &:hover {
              background-color: #f7f7f7;
              cursor: pointer;
            }
          }
        }
        .modal-body {
          width: 100%;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          .copy-link-btn,
          .kakao-link-btn {
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            height: 60%;
            border: 1px solid #d3d3d3;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            &:hover {
              background-color: #f7f7f7;
              cursor: pointer;
            }
            .copy-icon {
              position: relative;
              font-size: 17px;
              right: 10px;
            }
            .kakao-icon {
              top: 2px;
              border-radius: 5px;
              position: relative;
              right: 10px;
              width: 20px;
              height: 20px;
            }
          }
        }
        .show-box {
          position: absolute;
          bottom: 10px;
          border-radius: 10px;
          font-size: 12px;
          height: 30px;
          width: 35%;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          background-color: #fff;
          animation: fadeinout 2s linear forwards;
          @keyframes fadeinout {
            0%,
            100% {
              opacity: 0;
            }
            0% {
              opacity: 1;
            }
          }
          .show-icon {
            position: relative;
            top: 5px;
            left: 5px;
            font-size: 20px;
            color: green;
          }
          .show-sub {
            position: relative;
            left: 10px;
          }
        }
      }
    }
  }
  .alert-box {
    position: absolute;
    top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;
    height: 50px;
    width: 300px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    animation: fadeinout 3s linear forwards;
    @keyframes fadeinout {
      // 0%,
      100% {
        opacity: 0;
      }
      0% {
        opacity: 1;
      }
    }
    .alert-icon {
      position: relative;
      left: 5px;
      color: green;
    }
    .alert-sub {
      position: relative;
      left: 10px;
    }
  }
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-70px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
}
