// 반응형 셋팅
$xl: 1439px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

@import 'set';
@import 'header';
@import 'footer';
@import 'main';
@import 'mainBanner';
@import 'mainContents';
@import 'login';
@import 'signup';
@import 'mypageHeader';
@import 'mypageContents';
@import 'photoDetail';
@import 'shopInfo';
@import 'writing';
